#informations.sale-order-informations {
    /* Make the elements wrap, with 4 columns per row */
    > div {
        display: inline-block !important;
        width: 24% !important;
        box-sizing: border-box !important;
        vertical-align: top !important;
    }
}
